<h3>Test all input types with different configurations:</h3>
@{ 
foreach(var c in AsDynamic(App.Data["Test Different Configurations"])) {
string title = c.EntityTitle;
<div>
@{ var test = AsDynamic(App.Data[@title]).FirstOrDefault(); }
<b>@title:</b>   @Edit.Toolbar(test)
@Edit.Toolbar(actions: "contentitems,new,contenttype", contentType: @title )
</div>
}
}